<%= form_for @correio do |f| %>
    <%= f.label :cep_origem %>:
    <%= f.text_field :cep_origem %><br />
    <%= f.label :cep_destino %>:
    <%= f.text_field :cep_destino %><br />

    <%= f.label :peso %>:
    <%= f.text_field :peso %><br />

    <%= f.label :comprimento %>:
    <%= f.text_field :comprimento %><br />

    <%= f.label :largura %>:
    <%= f.text_field :largura %><br />

    <%= f.label :altura %>:
    <%= f.text_field :altura %><br />

    <%= f.submit %>
<% end %>
